body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.6;
    background-color: #f7f7f7;
}
.btn {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    border-style: solid;
    padding: 10px 30px;
    border-radius: 30px;
    border-width: 2px;
    color: white;
    border-color: #003459;
    background-color: #003459;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
}
.nav-container__nav-title {
    font-family: "Sansation", sans-serif;
    color: #00171F;
    text-decoration: none;
    font-size: 30px;
}

.nav-container__nav-menu {
    width: 400px;
}
.nav-container__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    list-style: none;
    font-size: 18px;
}
.nav-list__link{
    text-decoration: none;
    color: #00171F;
}
:is(.nav-container__nav-title, .nav-list__link, .nav-container__nav-list):hover {
    color: #003459;
}

.action__btn-entry {
    font-size: 16px;
    padding: 0px 30px;
}

.container__image {
    width: 100%;
    object-fit: cover;
    opacity: 0.9;

}

.container {
    position: relative;
    display: flex;
}
.container__overlay-elem {
    position: absolute;
    left: 100px;
    color: #00171F;
    font-size: 26px;
    margin-bottom: 0;
}
.container__overlay-text {
    max-width: 360px;
    font-size: 20px;
}
.hero-stats {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}
.container__overlay-btn {
    display: flex;
}

.container__overlay-elem_go-test{
    font-size: 24px;
}
.container__overlay-elem_choose-psycholog {
    font-size: 24px;
    margin-left: 10px;
    background-color: transparent;
    border-color: #003459;
    color: #003459;
    font-weight: 500;
}

button:hover {
    background-color: #F4FCFE;
    color: #003459;
}

.hero-stats__item {
    text-align: center;
}

.hero-stats__stat-num {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2px;
    color: #003459;

}

.hero-stats__description {
    font-size: 1rem;
    color: #737373;
    font-weight: bold;
}

.block-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    margin-bottom: 50px;
}

.block-offer__text {
    max-width: 400px;
    font-weight: 600;
}
.block-test__btn-go-test {
    max-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}
.block-test__text-offer {
    padding-right: 30px;
    font-weight: 600;

}
.block-therapy__title {
    display: flex;
    justify-content: center;
    color: #003459;
    font-size: 2em;
    font-weight: 700;
}

.block-therapy__elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 20px 60px;
}
.block-therapy__item {
    max-width: 250px;
    background-color: #cccccc;
    border-radius: 30px;

}

.block-therapy__text {
    font-size: 18px;
    margin: 30px;
    text-align: center;
}

.block-therapy {
    padding-bottom: 30px;
}
.block-test {
    display: flex;
    justify-content: center;
}

